html, body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.notice {
  background-color: antiquewhite;
}

.contents {
  background-color: coral;
}

.ranking {
  background-color: cornflowerblue;
}