html, body {
  margin: 0;
  padding: 0;
}

.fruits {
  display: flex;
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
}